[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/glew"]
	path = deps/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "deps/dxsdk"]
	path = deps/dxsdk
	url = ../dxsdk.git
[submodule "deps/vulkan-headers"]
	path = deps/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "deps/vulkan-loader"]
	path = deps/vulkan-loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
