[submodule "deps/literally"]
	path = deps/literally
	url = ../literally.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "deps/fx11"]
	path = deps/fx11
	url = https://github.com/Microsoft/FX11.git
[submodule "deps/directxtk"]
	path = deps/directxtk
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "deps/glew"]
	path = deps/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "deps/dxsdk"]
	path = deps/dxsdk
	url = https://github.com/devKlausS/dxsdk.git
[submodule "deps/deps/glew"]
	path = deps/deps/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "deps/cef"]
	path = deps/cef
	url = https://git.kthx.at/0x90/cef.git
	shallow = true
