html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notifications {
    position: fixed;
    top: 0;
    right: 0;
}


.notification {
    margin: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    background: rgb(177, 177, 177);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.notification.info {
    background:#00B0F8;
}

.notification.success {
    background: #95D500;
}

.notification.warn {
    background: #F8B000;
}

.notification.error {
    background: #FF3131;
}