name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
    types: [opened, synchronize, reopened]

jobs:
  verify-formatting:
    name: Verify Formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6

      - name: Verify Formatting
        uses: jidicula/clang-format-action@v4.16.0
        with:
          clang-format-version: '19'
          check-path: 'src'

  build:
    name: Build
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        architecture:
          - x86
          - x64
        configuration:
          - Debug
          - Release
        include:
          - configuration: Debug
            preset: debug
          - configuration: Release
            preset: release
    steps:
      - name: Check out files
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0
          lfs: false
          
      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.13.0
        with:
          arch: ${{matrix.architecture}}

      - name: Set up problem matching
        uses: ammaraskar/msvc-problem-matcher@master

      - name: CMake Build
        run: cmake --workflow --preset=${{matrix.preset}}

  summary:
    name: Pipeline Summary
    runs-on: ubuntu-24.04
    needs: [build, verify-formatting]
    if: always()
    steps:
      - uses: geekyeggo/delete-artifact@v5
        with:
          name: 'Temp *'

      - name: Pipeline failed
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1
